config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/Ophidia
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/interTwin-eu/itwinai:
      branch: main
      repo: https://github.com/interTwin-eu/itwinai
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/interTwin-eu/itwinai git:
        commands:
        - /usr/bin/env sh .sqa/script.scummy-malachite-eleuth.sh
        container: qc.acc_smelly-taupe-shark
  QC.Doc:
    repos:
      github.com/interTwin-eu/itwinai find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.foggy-red-leopard.sh
        container: qc.doc_lovely-emerald-squirt
      github.com/interTwin-eu/itwinai git:
        commands:
        - /usr/bin/env sh .sqa/script.tasty-thistle-okapi.sh
        container: qc.doc_surly-apricot-wallaby
      github.com/interTwin-eu/itwinai markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.shaky-lemon-skunk.sh
        container: qc.doc_sickly-lilac-hare
      github.com/interTwin-eu/itwinai restructuredtext-lint:
        commands:
        - /usr/bin/env sh .sqa/script.scanty-buff-foxhound.sh
        container: qc.doc_foggy-razzmatazz-terrier
  QC.Lic:
    repos:
      github.com/interTwin-eu/itwinai licensee:
        commands:
        - /usr/bin/env sh .sqa/script.seedy-zucchini-worm.sh
        container: qc.lic_sleazy-buff-tarantula
  QC.Met:
    repos:
      github.com/interTwin-eu/itwinai cff-converter-python:
        commands:
        - /usr/bin/env sh .sqa/script.queasy-tan-dolphin.sh
        container: qc.met_woozy-cobalt-heron
  QC.Sec:
    repos:
      github.com/interTwin-eu/itwinai bandit:
        commands:
        - /usr/bin/env sh .sqa/script.lanky-malachite-whippet.sh
        container: qc.sec_whiny-cornflower-gerbil
  QC.Sty:
    repos:
      github.com/interTwin-eu/itwinai flake8:
        commands:
        - /usr/bin/env sh .sqa/script.sunny-chestnut-eleuth.sh
        container: qc.sty_lanky-eggplant-cockroach
      github.com/interTwin-eu/itwinai hadolint:
        commands:
        - /usr/bin/env sh .sqa/script.greasy-razzmatazz-bloodhound.sh
        container: qc.sty_queasy-black-blue
      github.com/interTwin-eu/itwinai jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.tacky-zucchini-barnacle.sh
        container: qc.sty_cranky-orange-panda
  QC.Uni:
    repos:
      github.com/interTwin-eu/itwinai commands:
        commands:
        - /usr/bin/env sh .sqa/script.flaky-lemon-cockroach.sh
        container: qc.uni_sloppy-emerald-husky
  QC.Ver:
    repos:
      github.com/interTwin-eu/itwinai get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.hilly-zucchini-flounder.sh
        container: qc.ver_smelly-chestnut-chameleon
timeout: 5400
