config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/Ophidia
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/interTwin-eu/itwinai:
      branch: main
      repo: https://github.com/interTwin-eu/itwinai
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/interTwin-eu/itwinai git:
        commands:
        - /usr/bin/env sh .sqa/script.lousy-scarlet-retriever.sh
        container: qc.acc_flabby-gamboge-armadillo
  QC.Doc:
    repos:
      github.com/interTwin-eu/itwinai find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.pokey-sangria-cuttlefish.sh
        container: qc.doc_geeky-goldenrod-monster
      github.com/interTwin-eu/itwinai git:
        commands:
        - /usr/bin/env sh .sqa/script.seedy-blue-anteater.sh
        container: qc.doc_freaky-tan-wombat
      github.com/interTwin-eu/itwinai markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.woozy-crimson-crab.sh
        container: qc.doc_snoopy-amber-mammoth
      github.com/interTwin-eu/itwinai restructuredtext-lint:
        commands:
        - /usr/bin/env sh .sqa/script.homey-buff-spider.sh
        container: qc.doc_silly-thistle-dolphin
  QC.Lic:
    repos:
      github.com/interTwin-eu/itwinai licensee:
        commands:
        - /usr/bin/env sh .sqa/script.pretty-amaranth-javanese.sh
        container: qc.lic_hasty-tan-robin
  QC.Met:
    repos:
      github.com/interTwin-eu/itwinai cff-converter-python:
        commands:
        - /usr/bin/env sh .sqa/script.seedy-tangerine-bloodhound.sh
        container: qc.met_stuffy-asparagus-macaque
  QC.Sec:
    repos:
      github.com/interTwin-eu/itwinai bandit:
        commands:
        - /usr/bin/env sh .sqa/script.foggy-firebrick-newfoundland.sh
        container: qc.sec_stuffy-saffron-wallaby
  QC.Sty:
    repos:
      github.com/interTwin-eu/itwinai flake8:
        commands:
        - /usr/bin/env sh .sqa/script.chummy-magnolia-seahorse.sh
        container: qc.sty_randy-cyan-wolf
      github.com/interTwin-eu/itwinai hadolint:
        commands:
        - /usr/bin/env sh .sqa/script.beady-gamboge-snake.sh
        container: qc.sty_pretty-myrtle-collie
      github.com/interTwin-eu/itwinai jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.skimpy-rose-robin.sh
        container: qc.sty_chummy-zucchini-javanese
  QC.Uni:
    repos:
      github.com/interTwin-eu/itwinai commands:
        commands:
        - /usr/bin/env sh .sqa/script.boozy-teal-dog.sh
        container: qc.uni_sloppy-sapphire-gibbon
  QC.Ver:
    repos:
      github.com/interTwin-eu/itwinai get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.seedy-zucchini-bonobo.sh
        container: qc.ver_cheeky-cinnamon-walrus
timeout: 5400
