config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/Ophidia
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/interTwin-eu/itwinai:
      branch: main
      repo: https://github.com/interTwin-eu/itwinai
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/interTwin-eu/itwinai git:
        commands:
        - /usr/bin/env sh .sqa/script.tacky-chartreuse-leopard.sh
        container: qc.acc_homely-crimson-bulldog
  QC.Doc:
    repos:
      github.com/interTwin-eu/itwinai find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.greasy-persimmon-numbat.sh
        container: qc.doc_muggy-celadon-capybara
      github.com/interTwin-eu/itwinai git:
        commands:
        - /usr/bin/env sh .sqa/script.boozy-rust-coyote.sh
        container: qc.doc_lumpy-crimson-lizard
      github.com/interTwin-eu/itwinai markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.gummy-xanthic-barb.sh
        container: qc.doc_homey-cyan-cheetah
      github.com/interTwin-eu/itwinai restructuredtext-lint:
        commands:
        - /usr/bin/env sh .sqa/script.beady-wisteria-dachsbracke.sh
        container: qc.doc_sunny-bistre-setter
  QC.Lic:
    repos:
      github.com/interTwin-eu/itwinai licensee:
        commands:
        - /usr/bin/env sh .sqa/script.foggy-mauve-horse.sh
        container: qc.lic_shaky-azure-molly
  QC.Met:
    repos:
      github.com/interTwin-eu/itwinai cff-converter-python:
        commands:
        - /usr/bin/env sh .sqa/script.bluesy-blue-saola.sh
        container: qc.met_goopy-red-dragon
  QC.Sec:
    repos:
      github.com/interTwin-eu/itwinai bandit:
        commands:
        - /usr/bin/env sh .sqa/script.breezy-bistre-bongo.sh
        container: qc.sec_fuzzy-salmon-tamarin
  QC.Sty:
    repos:
      github.com/interTwin-eu/itwinai flake8:
        commands:
        - /usr/bin/env sh .sqa/script.skimpy-silver-millipede.sh
        container: qc.sty_sloppy-charcoal-burmese
      github.com/interTwin-eu/itwinai hadolint:
        commands:
        - /usr/bin/env sh .sqa/script.snazzy-green-tapir.sh
        container: qc.sty_slaphappy-sapphire-cassowary
      github.com/interTwin-eu/itwinai jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.leaky-amethyst-kangaroo.sh
        container: qc.sty_gummy-denim-dugong
  QC.Uni:
    repos:
      github.com/interTwin-eu/itwinai commands:
        commands:
        - /usr/bin/env sh .sqa/script.nippy-salmon-chipmunk.sh
        container: qc.uni_fuzzy-corn-tarsier
  QC.Ver:
    repos:
      github.com/interTwin-eu/itwinai get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.bumpy-indigo-slug.sh
        container: qc.ver_randy-razzmatazz-grasshopper
timeout: 5400
