config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/Ophidia
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/interTwin-eu/itwinai:
      branch: main
      repo: https://github.com/interTwin-eu/itwinai
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/interTwin-eu/itwinai git:
        commands:
        - /usr/bin/env sh .sqa/script.squirrely-maroon-crab.sh
        container: qc.acc_queasy-cinnabar-stingray
  QC.Doc:
    repos:
      github.com/interTwin-eu/itwinai find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.gimpy-pumpkin-tzu.sh
        container: qc.doc_snippy-gold-collie
      github.com/interTwin-eu/itwinai git:
        commands:
        - /usr/bin/env sh .sqa/script.chewy-cream-chinchilla.sh
        container: qc.doc_muggy-tan-bloodhound
      github.com/interTwin-eu/itwinai markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.wimpy-chestnut-audemer.sh
        container: qc.doc_zippy-cyan-rhinoceros
      github.com/interTwin-eu/itwinai restructuredtext-lint:
        commands:
        - /usr/bin/env sh .sqa/script.shaggy-beige-oyster.sh
        container: qc.doc_cozy-olive-flounder
  QC.Lic:
    repos:
      github.com/interTwin-eu/itwinai licensee:
        commands:
        - /usr/bin/env sh .sqa/script.cranky-goldenrod-termite.sh
        container: qc.lic_scaly-cardinal-macaque
  QC.Met:
    repos:
      github.com/interTwin-eu/itwinai cff-converter-python:
        commands:
        - /usr/bin/env sh .sqa/script.ugly-corn-lynx.sh
        container: qc.met_hasty-denim-wolverine
  QC.Sec:
    repos:
      github.com/interTwin-eu/itwinai bandit:
        commands:
        - /usr/bin/env sh .sqa/script.squirrely-turquoise-hound.sh
        container: qc.sec_beady-ultramarine-sloth
  QC.Sty:
    repos:
      github.com/interTwin-eu/itwinai flake8:
        commands:
        - /usr/bin/env sh .sqa/script.ugly-aquamarine-clam.sh
        container: qc.sty_woozy-lilac-tarsier
      github.com/interTwin-eu/itwinai hadolint:
        commands:
        - /usr/bin/env sh .sqa/script.frumpy-teal-chameleon.sh
        container: qc.sty_pasty-grey-seal
      github.com/interTwin-eu/itwinai jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.stinky-cardinal-peccary.sh
        container: qc.sty_gloppy-olive-barnacle
  QC.Uni:
    repos:
      github.com/interTwin-eu/itwinai commands:
        commands:
        - /usr/bin/env sh .sqa/script.pasty-lime-cuttlefish.sh
        container: qc.uni_droopy-copper-chameleon
  QC.Ver:
    repos:
      github.com/interTwin-eu/itwinai get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.hazy-rose-rattlesnake.sh
        container: qc.ver_sloppy-copper-ant
timeout: 5400
