config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/Ophidia
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/interTwin-eu/itwinai:
      branch: main
      repo: https://github.com/interTwin-eu/itwinai
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/interTwin-eu/itwinai git:
        commands:
        - /usr/bin/env sh .sqa/script.chummy-cardinal-toad.sh
        container: qc.acc_chewy-mustard-flounder
  QC.Doc:
    repos:
      github.com/interTwin-eu/itwinai find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.frumpy-flax-labradoodle.sh
        container: qc.doc_seedy-yellow-cockroach
      github.com/interTwin-eu/itwinai git:
        commands:
        - /usr/bin/env sh .sqa/script.silly-orchid-chinchilla.sh
        container: qc.doc_shaggy-rose-buzzard
      github.com/interTwin-eu/itwinai markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.shaky-coral-walrus.sh
        container: qc.doc_snappy-chocolate-octopus
      github.com/interTwin-eu/itwinai restructuredtext-lint:
        commands:
        - /usr/bin/env sh .sqa/script.lovely-violet-chamois.sh
        container: qc.doc_slaphappy-chocolate-wrasse
  QC.Lic:
    repos:
      github.com/interTwin-eu/itwinai licensee:
        commands:
        - /usr/bin/env sh .sqa/script.cozy-auburn-gopher.sh
        container: qc.lic_dorky-chocolate-foxhound
  QC.Met:
    repos:
      github.com/interTwin-eu/itwinai cff-converter-python:
        commands:
        - /usr/bin/env sh .sqa/script.smelly-ultramarine-discus.sh
        container: qc.met_grumpy-salmon-moose
  QC.Sec:
    repos:
      github.com/interTwin-eu/itwinai bandit:
        commands:
        - /usr/bin/env sh .sqa/script.snippy-buff-javanese.sh
        container: qc.sec_beady-chartreuse-bordeaux
  QC.Sty:
    repos:
      github.com/interTwin-eu/itwinai flake8:
        commands:
        - /usr/bin/env sh .sqa/script.hazy-black-dragonfly.sh
        container: qc.sty_flimsy-plum-zorse
      github.com/interTwin-eu/itwinai hadolint:
        commands:
        - /usr/bin/env sh .sqa/script.lanky-green-moose.sh
        container: qc.sty_stuffy-viridian-eel
      github.com/interTwin-eu/itwinai jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.snoopy-amethyst-coyote.sh
        container: qc.sty_beady-blue-akita
  QC.Uni:
    repos:
      github.com/interTwin-eu/itwinai commands:
        commands:
        - /usr/bin/env sh .sqa/script.lovely-aquamarine-moorhen.sh
        container: qc.uni_boozy-linen-bat
  QC.Ver:
    repos:
      github.com/interTwin-eu/itwinai get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.geeky-teal-chin.sh
        container: qc.ver_scummy-asparagus-jaguar
timeout: 5400
