config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/Ophidia
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/PalomoIFCA/itwinai:
      branch: patch-sqaas
      repo: https://github.com/PalomoIFCA/itwinai
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/PalomoIFCA/itwinai git:
        commands:
        - /usr/bin/env sh .sqa/script.cloudy-scarlet-chamois.sh
        container: qc.acc_dorky-magenta-frise
  QC.Doc:
    repos:
      github.com/PalomoIFCA/itwinai find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.gamy-amaranth-shrew.sh
        container: qc.doc_frumpy-aquamarine-elephant
      github.com/PalomoIFCA/itwinai git:
        commands:
        - /usr/bin/env sh .sqa/script.sickly-rust-mole.sh
        container: qc.doc_wimpy-amethyst-newt
      github.com/PalomoIFCA/itwinai markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.dorky-xanthic-rottweiler.sh
        container: qc.doc_shabby-cobalt-bloodhound
      github.com/PalomoIFCA/itwinai restructuredtext-lint:
        commands:
        - /usr/bin/env sh .sqa/script.shaggy-smalt-fish.sh
        container: qc.doc_skimpy-ruby-loon
  QC.Lic:
    repos:
      github.com/PalomoIFCA/itwinai licensee:
        commands:
        - /usr/bin/env sh .sqa/script.homely-olivine-uakari.sh
        container: qc.lic_craggy-indigo-falcon
  QC.Met:
    repos:
      github.com/PalomoIFCA/itwinai cff-converter-python:
        commands:
        - /usr/bin/env sh .sqa/script.pokey-flax-otter.sh
        container: qc.met_zippy-aquamarine-otter
  QC.Sec:
    repos:
      github.com/PalomoIFCA/itwinai bandit:
        commands:
        - /usr/bin/env sh .sqa/script.leaky-emerald-dachsbracke.sh
        container: qc.sec_cloudy-wheat-macaw
  QC.Sty:
    repos:
      github.com/PalomoIFCA/itwinai flake8:
        commands:
        - /usr/bin/env sh .sqa/script.greasy-russet-capuchin.sh
        container: qc.sty_messy-tomato-wombat
      github.com/PalomoIFCA/itwinai hadolint:
        commands:
        - /usr/bin/env sh .sqa/script.scaly-amaranth-butterfly.sh
        container: qc.sty_thirsty-mustard-ant
      github.com/PalomoIFCA/itwinai jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.slaphappy-chocolate-hummingbird.sh
        container: qc.sty_seedy-wisteria-lemur
  QC.Uni:
    repos:
      github.com/PalomoIFCA/itwinai pytest:
        commands:
        - /usr/bin/env sh .sqa/script.ugly-myrtle-angora.sh
        container: qc.uni_smelly-bistre-gorilla
  QC.Ver:
    repos:
      github.com/PalomoIFCA/itwinai get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.nerdy-bistre-zorse.sh
        container: qc.ver_grumpy-beige-swan
timeout: 5400
