config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/Ophidia
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/interTwin-eu/itwinai:
      branch: main
      repo: https://github.com/interTwin-eu/itwinai
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/interTwin-eu/itwinai git:
        commands:
        - /usr/bin/env sh .sqa/script.cloudy-apricot-indri.sh
        container: qc.acc_hasty-wheat-paradise
  QC.Doc:
    repos:
      github.com/interTwin-eu/itwinai find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.squeaky-magenta-spider.sh
        container: qc.doc_wiggy-cinnabar-zorse
      github.com/interTwin-eu/itwinai git:
        commands:
        - /usr/bin/env sh .sqa/script.cozy-denim-civet.sh
        container: qc.doc_gamy-sepia-fowl
      github.com/interTwin-eu/itwinai markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.sleepy-ochre-corgi.sh
        container: qc.doc_bumpy-heliotrope-warthog
      github.com/interTwin-eu/itwinai restructuredtext-lint:
        commands:
        - /usr/bin/env sh .sqa/script.baggy-blue-donkey.sh
        container: qc.doc_baggy-ruby-gar
  QC.Lic:
    repos:
      github.com/interTwin-eu/itwinai licensee:
        commands:
        - /usr/bin/env sh .sqa/script.thirsty-burgundy-civet.sh
        container: qc.lic_crabby-dandelion-woodpecker
  QC.Met:
    repos:
      github.com/interTwin-eu/itwinai cff-converter-python:
        commands:
        - /usr/bin/env sh .sqa/script.freaky-bronze-donkey.sh
        container: qc.met_hasty-malachite-jackal
  QC.Sec:
    repos:
      github.com/interTwin-eu/itwinai bandit:
        commands:
        - /usr/bin/env sh .sqa/script.snazzy-russet-fox.sh
        container: qc.sec_squeaky-carmine-anteater
  QC.Sty:
    repos:
      github.com/interTwin-eu/itwinai flake8:
        commands:
        - /usr/bin/env sh .sqa/script.sickly-cobalt-foxhound.sh
        container: qc.sty_bluesy-magnolia-moth
      github.com/interTwin-eu/itwinai hadolint:
        commands:
        - /usr/bin/env sh .sqa/script.sloppy-cerise-shark.sh
        container: qc.sty_flaky-celadon-albatross
      github.com/interTwin-eu/itwinai jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.crappy-bistre-terrier.sh
        container: qc.sty_slimy-auburn-bear
  QC.Uni:
    repos:
      github.com/interTwin-eu/itwinai commands:
        commands:
        - /usr/bin/env sh .sqa/script.wimpy-purple-hedgehog.sh
        container: qc.uni_silly-dandelion-jaguar
  QC.Ver:
    repos:
      github.com/interTwin-eu/itwinai get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.frumpy-olivine-wildebeest.sh
        container: qc.ver_geeky-cardinal-foxhound
timeout: 5400
