config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/Ophidia
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/interTwin-eu/itwinai:
      branch: main
      repo: https://github.com/interTwin-eu/itwinai
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/interTwin-eu/itwinai git:
        commands:
        - /usr/bin/env sh .sqa/script.ready-amaranth-turtle.sh
        container: qc.acc_seedy-periwinkle-anteater
  QC.Doc:
    repos:
      github.com/interTwin-eu/itwinai find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.shaggy-cinnamon-wrasse.sh
        container: qc.doc_shaky-green-angora
      github.com/interTwin-eu/itwinai git:
        commands:
        - /usr/bin/env sh .sqa/script.droopy-silver-sparrow.sh
        container: qc.doc_homey-lavender-bombay
      github.com/interTwin-eu/itwinai markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.stinky-ecru-fish.sh
        container: qc.doc_stealthy-eggplant-whale
      github.com/interTwin-eu/itwinai restructuredtext-lint:
        commands:
        - /usr/bin/env sh .sqa/script.pokey-chartreuse-skunk.sh
        container: qc.doc_shaggy-carmine-wasp
  QC.Lic:
    repos:
      github.com/interTwin-eu/itwinai licensee:
        commands:
        - /usr/bin/env sh .sqa/script.sunny-lemon-whale.sh
        container: qc.lic_leaky-indigo-dingo
  QC.Met:
    repos:
      github.com/interTwin-eu/itwinai cff-converter-python:
        commands:
        - /usr/bin/env sh .sqa/script.snappy-viridian-uakari.sh
        container: qc.met_lumpy-cobalt-audemer
  QC.Sec:
    repos:
      github.com/interTwin-eu/itwinai bandit:
        commands:
        - /usr/bin/env sh .sqa/script.tasty-peach-shark.sh
        container: qc.sec_droopy-brown-deer
  QC.Sty:
    repos:
      github.com/interTwin-eu/itwinai flake8:
        commands:
        - /usr/bin/env sh .sqa/script.nerdy-white-falcon.sh
        container: qc.sty_snappy-red-bulldog
      github.com/interTwin-eu/itwinai hadolint:
        commands:
        - /usr/bin/env sh .sqa/script.silly-eggplant-panda.sh
        container: qc.sty_dorky-gamboge-lemming
      github.com/interTwin-eu/itwinai jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.zippy-harlequin-newfoundland.sh
        container: qc.sty_breezy-smalt-spoonbill
  QC.Uni:
    repos:
      github.com/interTwin-eu/itwinai commands:
        commands:
        - /usr/bin/env sh .sqa/script.shaggy-alizarin-wallaby.sh
        container: qc.uni_stuffy-corn-reindeer
  QC.Ver:
    repos:
      github.com/interTwin-eu/itwinai get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.silly-fuchsia-mongrel.sh
        container: qc.ver_nerdy-charcoal-chipmunk
timeout: 5400
