config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/Ophidia
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/interTwin-eu/itwinai:
      branch: main
      repo: https://github.com/interTwin-eu/itwinai
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/interTwin-eu/itwinai git:
        commands:
        - /usr/bin/env sh .sqa/script.geeky-xanthic-bulldog.sh
        container: qc.acc_gimpy-myrtle-tarantula
  QC.Doc:
    repos:
      github.com/interTwin-eu/itwinai find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.snappy-salmon-bee.sh
        container: qc.doc_slimy-goldenrod-harrier
      github.com/interTwin-eu/itwinai git:
        commands:
        - /usr/bin/env sh .sqa/script.freaky-puce-angora.sh
        container: qc.doc_shaggy-eggplant-mongrel
      github.com/interTwin-eu/itwinai markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.beady-sapphire-buffalo.sh
        container: qc.doc_lumpy-bistre-discus
      github.com/interTwin-eu/itwinai restructuredtext-lint:
        commands:
        - /usr/bin/env sh .sqa/script.whiny-viridian-peccary.sh
        container: qc.doc_sleepy-myrtle-hornet
  QC.Lic:
    repos:
      github.com/interTwin-eu/itwinai licensee:
        commands:
        - /usr/bin/env sh .sqa/script.pretty-jade-eel.sh
        container: qc.lic_woozy-platinum-cougar
  QC.Met:
    repos:
      github.com/interTwin-eu/itwinai cff-converter-python:
        commands:
        - /usr/bin/env sh .sqa/script.frumpy-persimmon-chameleon.sh
        container: qc.met_cranky-ochre-retriever
  QC.Sec:
    repos:
      github.com/interTwin-eu/itwinai bandit:
        commands:
        - /usr/bin/env sh .sqa/script.bumpy-gamboge-bulldog.sh
        container: qc.sec_sloppy-chartreuse-tortoise
  QC.Sty:
    repos:
      github.com/interTwin-eu/itwinai flake8:
        commands:
        - /usr/bin/env sh .sqa/script.homely-jade-horse.sh
        container: qc.sty_dorky-sangria-collie
      github.com/interTwin-eu/itwinai hadolint:
        commands:
        - /usr/bin/env sh .sqa/script.stuffy-burgundy-spider.sh
        container: qc.sty_slimy-teal-havanese
      github.com/interTwin-eu/itwinai jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.scanty-zucchini-bear.sh
        container: qc.sty_breezy-ochre-gerbil
  QC.Uni:
    repos:
      github.com/interTwin-eu/itwinai commands:
        commands:
        - /usr/bin/env sh .sqa/script.cozy-aquamarine-cichlid.sh
        container: qc.uni_hasty-grey-wombat
  QC.Ver:
    repos:
      github.com/interTwin-eu/itwinai get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.pasty-purple-heron.sh
        container: qc.ver_crabby-persimmon-beetle
timeout: 5400
