config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/Ophidia
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/interTwin-eu/itwinai:
      branch: main
      repo: https://github.com/interTwin-eu/itwinai
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/interTwin-eu/itwinai git:
        commands:
        - /usr/bin/env sh .sqa/script.zippy-puce-tortoise.sh
        container: qc.acc_freaky-coral-chipmunk
  QC.Doc:
    repos:
      github.com/interTwin-eu/itwinai find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.thirsty-linen-mammoth.sh
        container: qc.doc_woolly-goldenrod-cuttlefish
      github.com/interTwin-eu/itwinai git:
        commands:
        - /usr/bin/env sh .sqa/script.thirsty-zucchini-coral.sh
        container: qc.doc_sleepy-cobalt-catfish
      github.com/interTwin-eu/itwinai markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.flimsy-magnolia-whale.sh
        container: qc.doc_woolly-bronze-barnacle
      github.com/interTwin-eu/itwinai restructuredtext-lint:
        commands:
        - /usr/bin/env sh .sqa/script.messy-alizarin-zorse.sh
        container: qc.doc_sleepy-azure-squid
  QC.Lic:
    repos:
      github.com/interTwin-eu/itwinai licensee:
        commands:
        - /usr/bin/env sh .sqa/script.slimy-maroon-octopus.sh
        container: qc.lic_nerdy-champagne-bongo
  QC.Met:
    repos:
      github.com/interTwin-eu/itwinai cff-converter-python:
        commands:
        - /usr/bin/env sh .sqa/script.geeky-wisteria-lobster.sh
        container: qc.met_gamy-ruby-nightingale
  QC.Sec:
    repos:
      github.com/interTwin-eu/itwinai bandit:
        commands:
        - /usr/bin/env sh .sqa/script.stealthy-olivine-javanese.sh
        container: qc.sec_flaky-celadon-mole
  QC.Sty:
    repos:
      github.com/interTwin-eu/itwinai flake8:
        commands:
        - /usr/bin/env sh .sqa/script.nippy-fuchsia-binturong.sh
        container: qc.sty_shaky-cardinal-rhinoceros
      github.com/interTwin-eu/itwinai hadolint:
        commands:
        - /usr/bin/env sh .sqa/script.nerdy-lilac-hare.sh
        container: qc.sty_skinny-goldenrod-audemer
      github.com/interTwin-eu/itwinai jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.paltry-denim-jackal.sh
        container: qc.sty_hilly-zucchini-kakapo
  QC.Uni:
    repos:
      github.com/interTwin-eu/itwinai commands:
        commands:
        - /usr/bin/env sh .sqa/script.leaky-pear-squid.sh
        container: qc.uni_tacky-dandelion-shark
  QC.Ver:
    repos:
      github.com/interTwin-eu/itwinai get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.lousy-alizarin-impala.sh
        container: qc.ver_skinny-violet-cassowary
timeout: 5400
