config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/Ophidia
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/interTwin-eu/itwinai:
      branch: main
      repo: https://github.com/interTwin-eu/itwinai
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/interTwin-eu/itwinai git:
        commands:
        - /usr/bin/env sh .sqa/script.sunny-maroon-bobcat.sh
        container: qc.acc_messy-flax-yak
  QC.Doc:
    repos:
      github.com/interTwin-eu/itwinai find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.lumpy-seashell-manatee.sh
        container: qc.doc_gimpy-sepia-worm
      github.com/interTwin-eu/itwinai git:
        commands:
        - /usr/bin/env sh .sqa/script.lumpy-emerald-squirt.sh
        container: qc.doc_snoopy-mustard-whale
      github.com/interTwin-eu/itwinai markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.slaphappy-cinnamon-havanese.sh
        container: qc.doc_gamy-pink-bobcat
      github.com/interTwin-eu/itwinai restructuredtext-lint:
        commands:
        - /usr/bin/env sh .sqa/script.stealthy-orchid-bonobo.sh
        container: qc.doc_snippy-platinum-paradise
  QC.Lic:
    repos:
      github.com/interTwin-eu/itwinai licensee:
        commands:
        - /usr/bin/env sh .sqa/script.dorky-bronze-gorilla.sh
        container: qc.lic_stinky-champagne-scorpion
  QC.Met:
    repos:
      github.com/interTwin-eu/itwinai cff-converter-python:
        commands:
        - /usr/bin/env sh .sqa/script.smelly-aqua-labradoodle.sh
        container: qc.met_wimpy-gold-beaver
  QC.Sec:
    repos:
      github.com/interTwin-eu/itwinai bandit:
        commands:
        - /usr/bin/env sh .sqa/script.frumpy-rust-bordeaux.sh
        container: qc.sec_lanky-crimson-lemming
  QC.Sty:
    repos:
      github.com/interTwin-eu/itwinai flake8:
        commands:
        - /usr/bin/env sh .sqa/script.scummy-tan-bobcat.sh
        container: qc.sty_hilly-auburn-insect
      github.com/interTwin-eu/itwinai hadolint:
        commands:
        - /usr/bin/env sh .sqa/script.cloudy-blue-eagle.sh
        container: qc.sty_stinky-pear-terrier
      github.com/interTwin-eu/itwinai jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.stuffy-linen-pinscher.sh
        container: qc.sty_skimpy-firebrick-urchin
  QC.Uni:
    repos:
      github.com/interTwin-eu/itwinai commands:
        commands:
        - /usr/bin/env sh .sqa/script.clammy-rust-fousek.sh
        container: qc.uni_gummy-plum-bison
  QC.Ver:
    repos:
      github.com/interTwin-eu/itwinai get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.tasty-cardinal-barracuda.sh
        container: qc.ver_clammy-blue-cheetah
timeout: 5400
