config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/Ophidia
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/interTwin-eu/itwinai:
      branch: main
      repo: https://github.com/interTwin-eu/itwinai
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/interTwin-eu/itwinai git:
        commands:
        - /usr/bin/env sh .sqa/script.geeky-cinnabar-termite.sh
        container: qc.acc_flabby-grey-oyster
  QC.Doc:
    repos:
      github.com/interTwin-eu/itwinai find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.bumpy-ecru-cow.sh
        container: qc.doc_bumpy-ochre-mastiff
      github.com/interTwin-eu/itwinai git:
        commands:
        - /usr/bin/env sh .sqa/script.stealthy-coral-tiger.sh
        container: qc.doc_woolly-magnolia-zebu
      github.com/interTwin-eu/itwinai markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.wimpy-crimson-mole.sh
        container: qc.doc_slaphappy-ochre-okapi
      github.com/interTwin-eu/itwinai restructuredtext-lint:
        commands:
        - /usr/bin/env sh .sqa/script.breezy-magenta-sparrow.sh
        container: qc.doc_slaphappy-cream-kingfisher
  QC.Lic:
    repos:
      github.com/interTwin-eu/itwinai licensee:
        commands:
        - /usr/bin/env sh .sqa/script.chummy-gold-newt.sh
        container: qc.lic_crabby-sepia-chameleon
  QC.Met:
    repos:
      github.com/interTwin-eu/itwinai cff-converter-python:
        commands:
        - /usr/bin/env sh .sqa/script.paltry-smalt-sheepdog.sh
        container: qc.met_hasty-orange-antelope
  QC.Sec:
    repos:
      github.com/interTwin-eu/itwinai bandit:
        commands:
        - /usr/bin/env sh .sqa/script.lousy-chartreuse-maltese.sh
        container: qc.sec_gamy-bronze-angelfish
  QC.Sty:
    repos:
      github.com/interTwin-eu/itwinai flake8:
        commands:
        - /usr/bin/env sh .sqa/script.silly-olive-wolverine.sh
        container: qc.sty_nerdy-mauve-seal
      github.com/interTwin-eu/itwinai hadolint:
        commands:
        - /usr/bin/env sh .sqa/script.muzzy-russet-bracke.sh
        container: qc.sty_surly-olive-cuttlefish
      github.com/interTwin-eu/itwinai jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.flimsy-cerulean-angora.sh
        container: qc.sty_cloudy-heliotrope-bulldog
  QC.Uni:
    repos:
      github.com/interTwin-eu/itwinai commands:
        commands:
        - /usr/bin/env sh .sqa/script.stinky-persimmon-dalmatian.sh
        container: qc.uni_woozy-malachite-worm
  QC.Ver:
    repos:
      github.com/interTwin-eu/itwinai get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.ugly-magnolia-wolfhound.sh
        container: qc.ver_blurry-ochre-mayfly
timeout: 5400
