config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/Ophidia
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/interTwin-eu/itwinai:
      branch: main
      repo: https://github.com/interTwin-eu/itwinai
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/interTwin-eu/itwinai git:
        commands:
        - /usr/bin/env sh .sqa/script.sloppy-teal-bombay.sh
        container: qc.acc_nippy-denim-wolfhound
  QC.Doc:
    repos:
      github.com/interTwin-eu/itwinai find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.stealthy-pumpkin-centipede.sh
        container: qc.doc_goopy-maroon-affenpinscher
      github.com/interTwin-eu/itwinai git:
        commands:
        - /usr/bin/env sh .sqa/script.queasy-puce-bobcat.sh
        container: qc.doc_squeaky-rose-tetra
      github.com/interTwin-eu/itwinai markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.flaky-denim-urchin.sh
        container: qc.doc_flaky-pumpkin-sponge
      github.com/interTwin-eu/itwinai restructuredtext-lint:
        commands:
        - /usr/bin/env sh .sqa/script.stinky-maroon-jackal.sh
        container: qc.doc_tasty-rose-forest
  QC.Lic:
    repos:
      github.com/interTwin-eu/itwinai licensee:
        commands:
        - /usr/bin/env sh .sqa/script.woozy-khaki-hamster.sh
        container: qc.lic_droopy-olive-quoll
  QC.Met:
    repos:
      github.com/interTwin-eu/itwinai cff-converter-python:
        commands:
        - /usr/bin/env sh .sqa/script.breezy-ivory-flamingo.sh
        container: qc.met_trippy-cerulean-raccoon
  QC.Sec:
    repos:
      github.com/interTwin-eu/itwinai bandit:
        commands:
        - /usr/bin/env sh .sqa/script.shaky-jade-zonkey.sh
        container: qc.sec_bumpy-magenta-turkey
  QC.Sty:
    repos:
      github.com/interTwin-eu/itwinai flake8:
        commands:
        - /usr/bin/env sh .sqa/script.hazy-amber-beagle.sh
        container: qc.sty_stealthy-lavender-dragonfly
      github.com/interTwin-eu/itwinai hadolint:
        commands:
        - /usr/bin/env sh .sqa/script.pretty-malachite-dalmatian.sh
        container: qc.sty_homely-peach-mongrel
      github.com/interTwin-eu/itwinai jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.skanky-harlequin-opossum.sh
        container: qc.sty_hasty-beige-sheep
  QC.Uni:
    repos:
      github.com/interTwin-eu/itwinai commands:
        commands:
        - /usr/bin/env sh .sqa/script.scummy-brown-meerkat.sh
        container: qc.uni_thirsty-dandelion-coral
  QC.Ver:
    repos:
      github.com/interTwin-eu/itwinai get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.snazzy-pink-toad.sh
        container: qc.ver_zippy-plum-bird
timeout: 5400
