config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/Ophidia
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/interTwin-eu/itwinai:
      branch: main
      repo: https://github.com/interTwin-eu/itwinai
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/interTwin-eu/itwinai git:
        commands:
        - /usr/bin/env sh .sqa/script.stuffy-crimson-goose.sh
        container: qc.acc_blurry-zucchini-dachsbracke
  QC.Doc:
    repos:
      github.com/interTwin-eu/itwinai find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.sleazy-emerald-collie.sh
        container: qc.doc_bluesy-dandelion-wolfhound
      github.com/interTwin-eu/itwinai git:
        commands:
        - /usr/bin/env sh .sqa/script.snoopy-black-tarantula.sh
        container: qc.doc_droopy-bistre-crab
      github.com/interTwin-eu/itwinai markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.shabby-sangria-spider.sh
        container: qc.doc_shaky-charcoal-ibis
      github.com/interTwin-eu/itwinai restructuredtext-lint:
        commands:
        - /usr/bin/env sh .sqa/script.lousy-linen-malamute.sh
        container: qc.doc_frumpy-asparagus-newfoundland
  QC.Lic:
    repos:
      github.com/interTwin-eu/itwinai licensee:
        commands:
        - /usr/bin/env sh .sqa/script.frumpy-platinum-abyssinian.sh
        container: qc.lic_crappy-black-civet
  QC.Met:
    repos:
      github.com/interTwin-eu/itwinai cff-converter-python:
        commands:
        - /usr/bin/env sh .sqa/script.stuffy-linen-spoonbill.sh
        container: qc.met_muggy-magnolia-tiger
  QC.Sec:
    repos:
      github.com/interTwin-eu/itwinai bandit:
        commands:
        - /usr/bin/env sh .sqa/script.cozy-red-moose.sh
        container: qc.sec_slimy-amethyst-coyote
  QC.Sty:
    repos:
      github.com/interTwin-eu/itwinai flake8:
        commands:
        - /usr/bin/env sh .sqa/script.pretty-green-woodpecker.sh
        container: qc.sty_sleepy-pumpkin-chin
      github.com/interTwin-eu/itwinai hadolint:
        commands:
        - /usr/bin/env sh .sqa/script.randy-white-eleuth.sh
        container: qc.sty_wimpy-charcoal-dog
      github.com/interTwin-eu/itwinai jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.cloudy-emerald-drever.sh
        container: qc.sty_trippy-scarlet-newfoundland
  QC.Uni:
    repos:
      github.com/interTwin-eu/itwinai commands:
        commands:
        - /usr/bin/env sh .sqa/script.tacky-dandelion-chimpanzee.sh
        container: qc.uni_shabby-lime-donkey
  QC.Ver:
    repos:
      github.com/interTwin-eu/itwinai get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.snippy-brass-pinscher.sh
        container: qc.ver_pokey-teal-snail
timeout: 5400
